.*
~*
template/cache/*
images/sitemodul/*
images/sitemoduls/*
images/users/*
images/admin/*
images/galleries/*
robots.txt
git-hook.php
admin/includes/tinymce/upload-files/*
phpMyAdmin/*
admin/pThumb*
fmake/configs/db_config.php
!.gitignore
!*.example