#lenta:before{
	content:"";
}
#lenta{
	position: fixed;
	clear: both;
	height: 100%;
	width: 204px;
	margin-right: 10px;
	top: 0px;
	background: #555555;
	z-index: 9999;
	font-size: 13px;
	line-height: 18px;
	color: #ffffff;
}
#lenta .list{
	padding: 15px 30px;
}
#lenta .block_1 ul li{
	font-weight: bold;
}
#lenta ul li a, #lenta ul li a:visited, #lenta ul li a:hover{
	color: #fff;
	text-decoration: none;
}
#lenta ul li a:hover{
	color: #ccc;
}
#lenta ul li a.active{
	color: #ccc;
}
#lenta .block_1{
	padding-bottom: 15px;
	border-bottom: 1px solid #6e6e6e;
}
#lenta .random_block{
	padding: 15px 0;
	border-bottom: 1px solid #6e6e6e;
}
#lenta .i_am_alone{
	background: url("/images/bg/alone.png") no-repeat 3px 48%;
	cursor: pointer;
	width: 25px;
	height: 100%;
	float: left;
	display: none;
}
@media all and (max-width:1210px){
	#lenta{
		width: 25px;
	}
	#lenta .list{
		display: none;
	}
	#lenta .i_am_alone{
		display: block;
	}
}
.partner_block ul li{
	float: left;
	width: 182px;
	margin-left: 13px;
}
.partner_block ul li:first-child{
	margin-left: 0px;
}
.partner_block ul li .caption a{
	color: #0d44a0;
	font-size: 14px;
}
.partner_block ul li .text{
	font-size: 12px;
	line-height: 14px;
}
.recomend{
	margin-top: 25px;
}
.recomend ul li{
	float: left;
	width: 220px;
	margin-left: 25px;
}
.recomend ul li:first-child{
	margin-left: 0px;
}
.recomend ul li .caption a{
	text-decoration: none;
	color: #0d44a0;
	font-size: 14px;
}
.recomend ul li .text{
	font-size: 12px;
	line-height: 14px;
}
.say_out .item{
	width: 475px;
	float: left;
}
.say_out .block_1 .img{
	float: left;
	margin-left: 10px;
}
.say_out .block_1 .img.ml0{
	margin-left: 0px;
}
.say_out .block_1, .say_out .block_2{
	float: left;
}
.say_out .link a{
	color: #878787;
	text-decoration: none;
	border-bottom: 1px dotted #878787;
	font-size: 11px;
}
.say_out ul{
	margin-top: 31px;
	padding-left: 10px;
	width: 148px;
	word-wrap: break-word;
}
.say_out .img{
	margin-top: 20px;
}
.my_new_afish .img1, .my_new_afish .img2, .my_new_afish .ap{
	float: left;
}
.my_new_afish .img2{
	margin-left: 25px;
}
.grid .item_block{
	float: left;
	margin-bottom: 10px;
	margin-left: 25px;
}
.grid .item_block .caption{
	height: 30px;
	overflow: hidden;
}
.grid .item_block.lt{
	margin-left: 0px;
}
.my_new_afish .ap{
	margin-left: 25px;
	background: white;
	width: 195px;
	height: 270px;
}