#lenta:before{
	content:"";
}
#lenta{
	position: fixed;
	clear: both;
	height: 100%;
	width: 204px;
	margin-right: 10px;
	top: 0px;
	background: #555555;
	z-index: 9999;
	font-size: 13px;
	line-height: 18px;
	color: #ffffff;
}
#lenta .list{
	padding: 15px 20px;
}
#lenta .block_1 ul li{
	font-weight: bold;
}
#lenta ul li a, #lenta ul li a:visited, #lenta ul li a:hover{
	color: #fff;
	text-decoration: none;
}
#lenta ul li a:hover{
	color: #ccc;
}
#lenta .block_1{
	padding-bottom: 15px;
	border-bottom: 1px solid #6e6e6e;
}
#lenta .random_block{
	padding: 15px 0;
	border-bottom: 1px solid #6e6e6e;
}
#lenta .i_am_alone{
	background: url("/images/bg/alone.png") no-repeat 3px 48%;
	cursor: pointer;
	width: 25px;
	height: 100%;
	float: left;
	display: none;
}
@media all and (max-width:1024px){
	#lenta{
		width: 25px;
	}
	#lenta .list{
		display: none;
	}
	#lenta .i_am_alone{
		display: block;
	}
}